<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

  </head>
  <body>

<!-- ============= COMPONENT ============== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container-fluid">
   <a class="navbar-brand" href="#">UIL Documentation</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="main_nav">
  

  <ul class="navbar-nav">

    {% for xpage in site.pages_list %}  
      {% assign status = '' %}
        {% if xpage[1].first %}
          {{ xpage }}
        {% else %}
          {% if page.url == xpage[1] %}
          {% assign status = 'active' %}
          {% endif %}
          <li class="nav-item {{ status }}"> 
            <a class="nav-link" href="/Docs{{ xpage[1]  }}">
                {{ xpage[0] }}
            </a> 
          </li>
        {% endif %}
      {% endfor %}

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Treeview menu  </a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item active" href="#"> Dropdown item 1 </a></li>
        <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
           <ul class="submenu dropdown-menu">
            <li><a class="dropdown-item active" href="#">Submenu item 1</a></li>
            <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
            <li><a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Multi level 1</a></li>
                <li><a class="dropdown-item" href="#">Multi level 2</a></li>
            </ul>
            </li>
            <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
            <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
         </ul>
        </li>
        <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
        <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
        </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  More items  </a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
        <li><a class="dropdown-item" href="#"> Dropdown item 2 &raquo; </a>
           <ul class="submenu dropdown-menu">
            <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
            <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
            <li><a class="dropdown-item" href="#">Submenu item 3</a></li>
         </ul>
        </li>
        <li><a class="dropdown-item" href="#"> Dropdown item 3 &raquo; </a>
           <ul class="submenu dropdown-menu">
            <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
            <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
            <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
            <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
         </ul>
        </li>
        <li><a class="dropdown-item" href="#"> Dropdown item 4 &raquo;</a>
           <ul class="submenu dropdown-menu">
            <li><a class="dropdown-item" href="#">Another submenu 1</a></li>
            <li><a class="dropdown-item" href="#">Another submenu 2</a></li>
            <li><a class="dropdown-item" href="#">Another submenu 3</a></li>
            <li><a class="dropdown-item" href="#">Another submenu 4</a></li>
         </ul>
        </li>
        <li><a class="dropdown-item" href="#"> Dropdown item 5 </a></li>
        <li><a class="dropdown-item" href="#"> Dropdown item 6 </a></li>
        </ul>
    </li>
  </ul>

  </div> <!-- navbar-collapse.// -->
 </div> <!-- container-fluid.// -->
</nav>
<!-- ============= COMPONENT END// ============== -->


    <a id="skip-to-content" href="#content">Skip to the content.</a>
    
    <header class="page-header" role="banner">
      
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
